body{
    background-color: burlywood;
}

.buy_now{
    width: 133px;
    height: 24px;
    color:white;
    background-color: red;
    font-size: 114%;
    color: blue;
    font-weight: bold;
}

.add_to_cart{
   width: 160px;
   height: 24px;
   color: white;
   background-color: blue;
   font-size: 124%;
   border-color: black;
   color: red;
   font-weight: bold;   
}

img{
   width: 440px ;
   height: 610px;
}

div h1 {
    width: 100px;
    height: 100px;
    font-size: 31px;
 }
 div h2{
    width: 70px;
    height: 70px;
    font-size:23px ;
 }
 div h3{
    width: 100px;
    height: 100px;
    font-size: 22px;
 }
 div h4{
    width: 70px;
    height: 70px;
    font-size: 17px;
 }