body{
   background-color: burlywood;
}

.buy_now{
   width: 133px;
   height: 30px;
   color:white;
   background-color: rgb(212 152 19);
   font-size: 114%;
   color: #503202;
   font-weight: bold;
   box-shadow: 0 0 3px 3px rgb(212, 152, 19);
   border-color: #252222;
   border-radius: 5px;
   text-align: center;
   position: fixed;
   top: 86%;
   right: 89%;
}

.add_to_cart{
  width: 160px;
  height: 30px;
  color: white;
  background-color: rgb(212 152 19);;
  font-size: 124%;
  border-color: #252222;
  color: #634007;
  font-weight: bold; 
  box-shadow: 0 0 3px 3px rgb(212, 152, 19);
  border-radius: 5px;
  text-align: center;
  position: fixed;
  top: 86%;
  right: 77%;
}


img{
  width: 440px ;
  height: 610px;
  border-radius: 20px;
  box-shadow: 0 0 6px 6px rgb(212, 152, 19);
}

div h1 {
   font-size: 45px;
   position: fixed;
   right: 53%;
   bottom: 80%;
}
div h2{
   font-size: 33px;
   position: fixed;
   right: 57%;
   bottom: 75%;
}

div h3{
   font-size: 22px;
   position: fixed;
   right: 37%;
   bottom: 76.5%;
}
div h4{
   font-size: 17px;
   position: fixed;
   right: 38%;
   bottom: 69%;
}